<!DOCTYPE html>
<html>
<body>

<h2>PERSONAS</h2>

<form action="/registro_usuarios" method="post">
  ID:<br>
  <input type="text" name="id" >
  <br>
  NOMBRE:<br>
  <input type="text" name="nombre" >
  <br>
  APELLIDO:<br>
  <input type="text" name="apellido" >
  <br>
  IDENTIFICACION:<br>
  <input type="text" name="identificacion" >
  <br>
  EMAIL:<br>
  <input type="text" name="email" >
  <br>
  PASSWORD:<br>
  <input type="text" name="password" >
  <br>
  EDAD:<br>
  <input type="text" name="edad" >
  <br><br>
  <input type="submit" value="Guardar">
</form> 

<p>{usuarios.name}</p>

</body>
</html>
