<!DOCTYPE html>
<html>
<body>

<h2>PERSONAS</h2>

<form action="/registro_usuarios" method="post">
  ID:<br>
  <input type="text" name="id" >
  <br>
  NOMBRE:<br>
  <input type="text" name="nombre" >
  <br>
  APELLIDO:<br>
  <input type="text" name="apellido" >
  <br>
  IDENTIFICACION:<br>
  <input type="text" name="identificacion" >
  <br>
  EMAIL:<br>
  <input type="text" name="email" >
  <br>
  PASSWORD:<br>
  <input type="text" name="password" >
  <br>
  EDAD:<br>
  <input type="text" name="edad" >
  <br><br>
  <input type="submit" value="Guardar">
</form> 
<form action="/usuarios" method="get">
  <input type="submit" value="mostrar">
</form>
<table border="3">
    
  <tr>
      {%for x in username[0]%}
    <td>
    {{x}}
    </td>>
    {%endfor%}
  </tr>
  {%for x in range(0,5)%}
  <tr>
     
    <td>
        {{userid[x]}}
    </td>
    <td>
        {{usernombre[x]}}
    </td>
    <td>
        {{userapellido[x]}}
    </td>
    <td>
        {{useridenti[x]}}
    </td>
    <td>
        {{useremail[x]}}
    </td>
    <td>
        {{usercontra[x]}}
    </td>
    <td>
        {{usereda[x]}}
    </td>
    <td>
        <form method="post" action="/ideas/{{id}}?_method=DELETE">
          <input type="hidden" name="_method" value="DELETE">
          </form>
    </td>
  </tr>
  {%endfor%}
  
  
  </table>

</body>
</html>
