<!DOCTYPE html> 
<html>  
<body>
        <form action="/usuariosupdate/{{usuarios_t[0]['id']}}" method="post">
             NOMBRE:<br>
            <input type="text" name="nombre" value="{{usuarios_t[0]['nombre']}}">
            <br>
            APELLIDO:<br>
            <input type="text" name="apellido" value="{{usuarios_t[0]['apellido']}}">
            <br>
            IDENTIFICACION:<br>
            <input type="text" name="identificacion" value="{{usuarios_t[0]['identificacion']}}">
            <br>
            EMAIL:<br>
            <input type="text" name="email" value="{{usuarios_t[0]['email']}}">
            <br>
            PASSWORD:<br>
            <input type="text" name="password" value="{{usuarios_t[0]['password']}}">
            <br>
            EDAD:<br>
            <input type="text" name="edad" value="{{usuarios_t[0]['edad']}}">
            <br>
            <input type="submit" value="Actualizar">
</body>
</html>